<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/assests/css/anhdungstyle.css">
		{{{_sections.css}}}
	</head>
	<body>
		{{> navbar }}
		{{{ body }}}
		{{> footer }}
		<script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/assests/js/anhdung.js"></script>
		{{{_sections.js}}}
	</body>
</html>