{{#section 'js'}}
    <script type="text/javascript" src="/assests/js/jquery.simplePagination.js"></script>    
    <script type="text/javascript" src="/assests/js/final.js"></script>    
{{/section}}

{{#section 'css'}}
    <link rel="stylesheet" href="/assests/css/final.css">
    <link rel="stylesheet" href="/assests/css/simplePagination.css">
    <style type="text/css">
        a {
            color: black;
        }
    </style>
{{/section}}
<div class="container sanpham" style="color: black; padding-top: 115px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="pagination"></div>
        <table class="table table-striped" id="content">
                <thead>
                    <tr>
                    <th>STT</th>
                    <th>Image</th>
                    <th>Member</th>
                    <th>Sản phẩm</th>
                    <th>Giá thắng</th>
                    <th>Ngày</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>1</td>
                    <td><img src="/assests/Images/sennheiser_ie_800_2.jpg" alt=""></td>
                    <td><a href="#">tottenhamhotspur@5giay</a></td>
                    <td><a href="#">Khoan 550w Black Decker HD560 hammer drill(only máy)</a></td>
                    <td>400.000đ</td>
                    <td>19/05/2017</td>
                    </tr>

                    <tr>
                    <td>2</td>
                    <td><img src="/assests/Images/sennheiser_ie_800_2.jpg" alt=""></td>
                    <td><a href="#">chicken[KFC]@5giay</a></td>
                    <td><a href="#">Tai nghe bluetooth Xiaomi ( version 1 )</a></td>
                    <td>170.000đ</td>
                    <td>19/05/2017</td>
                    </tr>
            
                    <tr>
                    <td>3</td>
                    <td><img src="/assests/Images/sennheiser_ie_800_2.jpg" alt=""></td>
                    <td><a href="#">noordoor@5giay</a></td>
                    <td><a href="#">Bia Budweiser 24 lon - Vua của bia</a></td>
                    <td>320.000đ</td>
                    <td>18/05/2017</td>
                    </tr>
            
                    <tr>
                    <td>4</td>
                    <td><img src="/assests/Images/sennheiser_ie_800_2.jpg" alt=""></td>
                    <td><a href="#">chihaotran@5giay</a></td>
                    <td><a href="#">Hộp 5 mũi khoan bê tông Makita</a></td>
                    <td>60.000đ</td>
                    <td>18/05/2017</td>
                    </tr>
            
                    <tr>
                    <td>5</td>
                    <td><img src="/assests/Images/sennheiser_ie_800_2.jpg" alt=""></td>
                    <td><a href="#">daovietthang@5giay</a></td>
                    <td><a href="#">Cáp iOS đúc nguyên sợi Hoco X4</a></td>
                    <td>80.000đ</td>
                    <td>18/05/2017</td>
                    </tr>
            
                    <tr>
                    <td>6</td>
                    <td><img src="/assests/Images/sennheiser_ie_800_2.jpg" alt=""></td>
                    <td><a href="#">letanloi@5giay</a></td>
                    <td><a href="#">Túi đeo chéo Yuumy</a></td>
                    <td>60.000đ</td>
                    <td>17/05/2017</td>
                    </tr>
            
                    <tr>
                    <td>7</td>
                    <td><img src="/assests/Images/sennheiser_ie_800_2.jpg" alt=""></td>
                    <td><a href="#">phoneviet.vn@5giay</a></td>
                    <td><a href="#">Cáp sạc 3 đầu dây dù (microUSB + lightning + Type-C)</a></td>
                    <td>70.000đ</td>
                    <td>19/05/2017</td>
                    </tr>
                </tbody>
            </table> 
            <div class="pagination-page" style="margin: 0 400px;"></div>
    </div>
</div>

<div class="container nhanxet">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div><h3>Nhận xét mới nhất</h3></div>
        <div class="scroll_box">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3><a href="#">sirodau@5giay</a></h3>
                <p>đồ cùi mía -> <span><a href="#">Bộ vit đa năng 36 đầu</a></span></p>     
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3><a href="#">sirodau@5giay</a></h3>
                <p>đồ cùi mía -> <span><a href="#">Bộ vit đa năng 36 đầu</a></span></p>     
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3><a href="#">sirodau@5giay</a></h3>
                <p>đồ cùi mía -> <span><a href="#">Bộ vit đa năng 36 đầu</a></span></p>     
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3><a href="#">sirodau@5giay</a></h3>
                <p>đồ cùi mía -> <span><a href="#">Bộ vit đa năng 36 đầu</a></span></p>     
            </div>
        </div>
    </div>
</div>