<div class="footer">
    <div class="footer-content container">
        <section class="taka-section">
            <h2 class="taka-section__heading">TAKA VIỆT NAM - ĐẤU GIÁ CÁC MẶT HÀNG ĐIỆN TỬ</h2>
            <p class="taka-section__content">
                Taka hiện đang là dịch vụ đấu giá hàng đầu tại Việt Nam. Đến với Taka, bạn sẽ có những trải nghiệm đầy thú vị và an toàn khi mua, bán, đấu giá hàng trên website trực tuyến. Hãy trở thành một trong hàng triệu người dùng Taka để nhận ngay hàng ngàn ưu đãi hấp dẫn! Với chính sách Taka Đảm Bảo, bạn sẽ nhận được hàng, hoặc được hoàn lại tiền! Hãy gia nhập cộng đồng Taka và trải nghiệm mua bán ngay hôm nay!
            </p>
        </section>
        <section class="taka-section">
            <h2 class="taka-section__heading">THỎA THÍCH LỰA CHỌN SẢN PHẨM CÔNG NGHỆ</h2>
            <p class="taka-section__content">
                Hãy tham gia Taka, trang đấu giá trực tuyến tiện lợi và an toàn nhất để dễ dàng tìm thấy mọi thứ bạn cần ở mức giá tốt nhất.
                Taka còn tích hợp các tính năng của mạng xã hội, giúp bạn liên tục cập nhập thông tin và xu hướng mới từ bạn bè và các thành viên bạn theo dõi trong cộng đồng.
            </p>
            <p class="taka-section__content">
                Để yên tâm mua sắm, bạn chỉ cần tham khảo thông tin “Đánh giá từ người dùng khác”
                và tìm được người bán hàng đáng tin cậy. Ngoài ra, chính sách Taka Đảm Bảo sẽ giúp bạn nhận được hàng, hoặc được hoàn lại tiền.
            </p>
        </section>
    </div>
    
    <div class="footer_legal">
        <div class="container">
            <div class="policies">
                <div class="policy-item">
                    <a class="policy-link" href="#">
                        <div class="policy-icon item_icon_privacy"></div><span>Chính sách bảo mật</span>
                    </a>
                </div>
                <div class="policy-item">
                    <a class="policy-link" href="#">
                        <div class="policy-icon item_icon_tos"></div><span>Quy chế hoạt động</span>
                    </a>
                </div>
                <div class="policy-item">
                    <a class="policy-link" href="#">
                        <div class="policy-icon item_icon_shipping"></div><span>Chính sách vận chuyển</span>
                    </a>
                </div>
                <div class="policy-item">
                    <a class="policy-link" href="#">
                        <div class="policy-icon item_icon_violation"></div><span>CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</span>
                    </a>
                </div>
            </div>
            <div class="company">Công ty TNHH TAKA</div>
            <div class="detail">Địa chỉ: Tầng 1, tòa nhà Khoa học tự nhiên, số 444, phố Nguyễn Văn Cừ, quận 5, TpHCM. Tổng đài hỗ trợ: 0962940509 - Email: 1312092@student.hcmus.edu.vn</div>
            <div class="detail">Mã số doanh nghiệp: 999999999 do Sở Kế hoạch &amp; Đầu tư tự nhiên  cấp lần đầu ngày 24/8/1995</div>
            <div class="detail">© 2099 - Bản quyền thuộc về Công ty TNHH Toko</div>
        </div>
    </div>
</div>